.subscribe-button {
	font-size: 18px;
	background-color: #FFC107;
	color: black;
	border: none;
	padding: 10px 20px;
	transition: background-color 0.3s;
}
  
.subscribe-button:hover {
	background-color: #FF9800;
}
  
.success-message {
	margin-top: 20px;
}
  
.error-message {
	margin-top: 20px;
}
  