.broadcast-input {
    width: 100%; 
    margin-bottom: 10px; 
}
  
.broadcast-button {
    width: 100%; 
}
  
.success.message {
    background-color: #e0f7fa; 
    color: #00695c; 
}
  
.error.message {
    background-color: #ffebee; 
    color: #c62828; 
}